/**
Styling for the SideBar component
*/
.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  padding: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;
    ul{
        list-style: none;
        padding: 0;
        text-align: left;
    }
    li{
        margin: 10px 0;
            text-decoration: none;
            color: #000;
            font-weight: 430;
            font-size: 16px;
            &:hover{
                color: #fff7f9;
                cursor: pointer;
                transition: all 0.1s ease;
            }
    }
}
.menuItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    font-size: 16px;
    border-radius: 10px;
    color: #000;
    font-weight: 430;
    &:hover{
        background-color: #ef637c;
        cursor: pointer;
    }
    p{
        margin: 0;
        text-align: left;
        width: 60%;
    }
}

/**
Styling for the TopBar component
**/
.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.searchBox{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 40%;
    height: 40px;
    padding: 0 20px;
    input{
        width: 80%;
        height: 100%;
        border: transparent;
        border-bottom: solid 2px #ccc;
        outline: none;
        padding-left: 10px;
        font-size: 16px;
        color: #242424;
        background-color: transparent;
    }
}
.searchBtn{
    display: flex;
    align-items: center;
    width: 30px;
    padding: 0.3rem;
    &:hover{
        background-color: #ccc;
        cursor: pointer;
        transition: all 0.1s ease;
    }
    .icon{
        width: 20px;
        height: 25px;
    }
}
.opts {
  display: flex;
  align-items: center;
  gap: 20px;
}
.opt{
    width: 30px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 100px;
    &:hover{
        background-color: #ccc;
        cursor: pointer;
    }
}
.opt .icon{
    width: 30px;
    height: 25px;
}